<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SPUserName" value="VM\administrator"/>
    <add key="SPPwd" value="Ever@123"/>
    <add key="DomainName" value="VM"/>
    <add key="BlockFileType" value=".ashx,.asmx,.json,.soap,.svc,.xamlx"/>
    <add key="PageSize" value="1000"/>
    <add key="SQLiteDBFilePath" value="C:\Atharullah\Test Folder\Qatar Rail\DB\MigrationDB.db"/>
    <!--
        0=Only File System Details
        1=File System with SharePoint
        2=Only SharePoint Migration (Need manual update to DBFilePath Column in FolderMapping Table)
        3= Only Folders-->
    <add key="ToolMode" value="1"/>
    <add key="ReportDBFilePath" value="C:\Atharullah\Test Folder\Qatar Rail\DB\ReportMigrationDB.db"/>
    <add key="LogFilePath" value=""/>
  </appSettings>
</configuration>